.container{
    padding-top: 40px;
    padding-bottom: 70px;
}

.row{
    padding-top: 10px;
    padding-bottom: 0px;

}

h1 {
    text-align: center;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 80px;
    letter-spacing: 1px;
    color: #f5f5f5;
    /*text-shadow: #9C7453 2px 2px 2px;*/
    font-weight: bold;
    padding-bottom: 0px
    ;
}

body {
    background-image: url("../image/Background_projetos2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.height-200 {
    height: 180px; 
} 

</style>