		
body {
	background-color: #FFE59D;
	background-image: url("image/Background.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 50px;
	margin-right: 180px;
	margin-left: 180px;
	align-self: center;
	align-items: center;

}


h1 {
	text-align: center;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-size: 80px;
	letter-spacing: 10px;
	color: #ffd700;
	/*text-shadow: #9C7453 2px 2px 2px;*/
	font-weight: bold;
	;
}
h3 {
	text-align: center;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.main{
	position: relative;
	left: 50px
	}

.imgBox{
	width: 210;
	height: 300;
	background: url("https://farm3.static.flickr.com/2597/4121218611_040cd7b3f2.jpg") no-repeat;
}
.imgBox:hover {
	width: 210;
	height: 300;
	background: url("https://farm3.static.flickr.com/2610/4148988872_990b6da667.jpg");
}