h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font: 30px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 40px;
}

p{
	color: #000000;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
}

body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	text-align: left;
	color: #ffffff;
	background-color: #000000;
	margin-left: 100px;
	margin-right: 100px;
	background-image: url("../image/Background_projetos2.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

