h1 {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 30px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 40px;
}

body {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 15px;
	text-align: left;
	color: #ffffff;
	background-color: #000000;
	margin-left: 100px;
	margin-right: 100px;
	background-image: url("../image/Background_projetos2.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

/*img {
	border-color: #ffffff;
	border: 5px;
	float: right;
	width: 200px;
	height: 260px;
	margin-left: 25px;
}*/
