
body {
	background-color: #000000;
	color: #ffffff;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 180px;
	margin-left: 180px;
	align-self: center;
	text-align: center;
	font-size: 15px;
	padding-left: 15px;
}
h1 {
	text-align: center;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-size: 80px;
	letter-spacing: 10px;
}
h2 {
	text-align: center;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-size: 30px;
	position: relative;
}
h3 {
	text-align: center;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

body{
	    width:1024px;
	}

.areaImagem{
    float:left;
    margin-top:10px;

}

.areaImagem img{
    width:100px;
    margin-left: 10px;
    margin-right: 10px;
}

.areaImagem2 img{
	width:160px;
	margin-left: 10px;
	margin-right: 10px;
}

.areaTexto p{
    float:left;
    max-width:800px;
    margin-left:10px;
}

.areaLink a{
	float:left;
    max-width:100px;
    margin-top:90px;
    margin-left:15px;
    margin-right:700px;
}

.caixalink a{
	    display: inline-block;
			text-decoration: none;
			padding: 7px 14px;
			background: #ffffff; /* cor do back do Read More */
			color: #000000; /* cor do read more */
			text-transform: uppercase;
			-webkit-box-shadow: 0 0 1px #000;
        -moz-box-shadow: 0 0 1px #000;
			box-shadow: 0 0 1px #000;
}